* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--text);
    background-image: linear-gradient(hsl(197, 71%, 73%), hsl(16, 100%, 66%));
    min-height: 100vh;
}

main{
}