.nav-main{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #242929;
}

.nav-footer{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: #242929;
}

footer .dev{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    text-align: center;
    text-decoration: none;
    color: blueviolet;
}

.nav-context{
    grid-column: 1 / 2;
    color: white;
    text-align: center;
}

.nav-opener{
    padding: 1rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    color: white;
    cursor: pointer;
}

.nav-drop-down{
    display: none;
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    width: 100%;
}

.nav-order{
    grid-column: 3 / 4;
}

.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
}

.nav-footer ul{
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}

.nav-main .nav-item{
    display: block;
    padding: 1rem;
    color: turquoise;
    font-weight: bold;
    cursor: pointer;
}

.nav-footer .nav-item{
    display: block;
    padding: 1rem;
    color: turquoise;
    cursor: pointer;
}

.nav li:hover, .nav-opener:hover{
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
}