:root {
    --main-bg-color: hsl(180, 4%, 15%);
    --secondary-bg-color: #DCAEA1;
    --dark-color: #1A2129;
    /*--light-color: #EBF4FF;*/
    /*--accent-color: hsl(5, 94%, 67%);*/
    --accent-color: #e63737;
    --action-color: hsl(180, 78%, 35%);
    --text-color: hsl(180, 17%, 91%);
    --main-color: #5dc6c6;
    /*--secondary-color: #c28170;*/
    --secondary-color: hsl(0, 29%, 56%);
    --panel-color: #181b1b;
    --light-color: hsl(0, 7%, 91%);
    /*--text-color: #dee5ed;*/
    --text-faded-color: hsl(180, 29%, 57%);
}

body {
    background-color: var(--main-bg-color);
}

header {
    color: var(--light-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

main h1{
    color: var(--light-color);
}

main p {
    color: var(--text-color);
}

#welcome section h3 {
    color: var(--light-color);
}

#welcome section p {
    color: var(--text-color);
}

#welcome section cite {
    color: var(--secondary-color);
}

#services {
    background-color: var(--panel-color);
    color: var(--text-color);
}

a {
    color: var(--action-color);
}

a:hover {
    color: var(--accent-color);
}

img.round {
    background-color: var(--secondary-color);
}

.card {
    background-color: var(--panel-color);
}

.btn {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-weight: 600;
    border: 0.1rem solid var(--action-color);
}

.btn:hover {
    background-color: var(--action-color);
    border-color: var(--text-color);
}

#order {
    background-color: var(--panel-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

#order:hover {
    background-color: var(--action-color);
}

.fa-location-dot {
    color: var(--secondary-color);
}

.fa-universal-access, .fa-car, .fa-handshake-simple{
    color: var(--text-faded-color);
}