:root {
    --panel-color: hsl(180, 4%, 15%);
    --secondary-bg-color: #DCAEA1;
    --dark-color: #1A2129;
    --light-smain-color: #EBF4FF;
    --accent-color: hsl(0, 78%, 56%);
    --accent-light-color: hsl(0, 78%, 66%);
    --text-color: hsl(180, 17%, 91%);
    --action-color: hsl(180, 78%, 35%);
    --action-light-color: hsl(180, 48%, 57%);
    --main-color: hsl(180, 48%, 57%);
    --secondary-color: hsl(0, 29%, 56%);
    --main-bg-color: #181b1b;
    --light-accent-color: hsl(0, 7%, 91%);
    --text-faded-color: hsl(180, 29%, 57%);
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

h1,
h2,
h3,
h4 { /* Set the font family for h1, h2 and h3 */
    font-family: 'Montserrat', sans-serif;
    overflow-wrap: break-word;    /* Added to wrap the heading text */
    word-break: normal;    /* Added to break the heading text */
    hyphens: auto;    /* Added to hyphenate the heading text */
}

button, a.button {
    background-color: rgba(255, 255, 255, 0.05); /* Added to set the background color of the button */
    color: var(--main-color); /* Added to set the text color of the button */
    font-size: 1rem; /* Added to set the font size of the button */
    font-weight: bold;
    padding: 1rem; /* Added to add space around the button */
    border: 0.1rem solid var(--text-faded-color);    /* Removed the border from the button */
    border-radius: 1.2rem;    /* Added to round the corners of the button */
    cursor: pointer;    /* Added to change the cursor to a pointer when hovering over the button */
    font-weight: bold;    /* Added to make the text bold */
    text-decoration: none;    /* Removed the underline from the button */
}

.no-border {
    background-color: transparent;
    border: none;
}

.order {
    background-color: transparent;
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.order > i {
    color: var(--accent-light-color);
}

.action {
    color: var(--action-color)
}

.card {
    border-radius: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


header { /* The layout for the site's header. */
    background-color: var(--main-bg-color);
}

header nav > ul > li a {
    text-decoration: none;    /* Removed the underline from the navigation items */
    color: var(--main-color);    /* Added to set the text color of the navigation items */
}

header nav > ul > li i {
    color: var(--text-faded-color);    /* Added to set the text color of the navigation icons */
}

main > dialog {
    background-color: var(--panel-color);
    color: var(--text-color);
    border-radius: 1.2rem;
}

main > dialog a {
    color: var(--accent-color);    /* Added to set the text color of the dialog links */
    text-decoration: none;    /* Removed the underline from the dialog links */
}

#portfolio article #idrettens-helsesenter {
    background-color: #554099;
}

#portfolio #ado-arena {
    background-color: #192561;
}

#about-us i {
    color: var(--text-faded-color);    /* Added to set the text color of the about us icons */
}


footer a {
    color: var(--main-color);    /* Added to set the text color of the footer links */
    text-decoration: none;    /* Removed the underline from the footer links */
}

footer li {
    list-style: none;    /* Removed the list indicator from the footer links */
}